#player-status {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid dimgray;
}

#player-status thead th:nth-child(1) {
    width: 40%;
}

#player-status thead th:nth-child(2) {
    width: 20%;
}

#player-status thead th:nth-child(3) {
    width: 20%;
}

#player-status thead th:nth-child(4) {
    width: 20%;
}

#player-status th,
#player-status td {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
}

#player-status tr:hover {background-color: #f5f5f5;}
